<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
</head>
<div class="container">
  <form [formGroup]="EmpFormGroup" class="form-horizontal">
  <fieldset>
  <legend>ViewEmployee</legend>
  <div class="form-group">
    <label class="col-md-4 control-label" for="textinput">EmployeeID</label>
    <div class="col-md-4">
    <input id="textinput" value="id" readonly="readonly" formControlName="id" name="textinput" type="text" placeholder="EmployeeName" class="form-control input-md">
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-4 control-label" for="textinput">EmployeeName</label>
    <div class="col-md-4">
    <input id="textinput" value="name" readonly="readonly" formControlName="name" name="textinput" type="text" placeholder="EmployeeName" class="form-control input-md">
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-4 control-label" for="textinput">Mobile </label>
    <div class="col-md-4">
    <input id="textinput" name="textinput" readonly="readonly" formControlName="mobile" type="number" placeholder="Mobile" class="form-control input-md">
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-4 control-label" for="textinput">Email</label>
    <div class="col-md-4">
    <input  id="textinput" name="email" formControlName="email" readonly="readonly" type="email" required="Email Required" type="text"
    placeholder="Email" class="form-control input-md" />
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-4 control-label" for="textinput">Salary </label>
    <div class="col-md-4">
    <input id="textinput" name="textinput" readonly="readonly" formControlName="salary" type="number" placeholder="Salary" class="form-control input-md">
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-4 control-label" for="textinput">Tax</label>
    <div class="col-md-4">
    <input id="textinput" name="textinput" disabled="disabled" type="number" value="10%" placeholder="10%" class="form-control input-md">
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-4 control-label" for="textinput">Net Salary</label>
    <div class="col-md-4">
    <input id="textinput" value="{{NetSalary}}" name="textinput" disabled="disabled" type="number" placeholder="" class="form-control input-md">
    </div>
  </div>
  </fieldset>
  </form>
</div>


